<header style='font-family:monospace'>
<div class='nav-piece'>_.-=*=-._ <a href='/'>Home</a> _.-=*=-._</div >
<div class='nav-piece'>_.-=*=-._ <a href='/about'>About</a> _.-=*=-._</div>
<div  class='nav-piece'>_.-=*=-._ <a href='/secret'>Secret Page</a> _.-=*=-._</div>
<div  class='nav-piece'>_.-=*=-._ <a href='/help.html'>FAQ</a> _.-=*=-._
</header>
<h1>{{pageTitle}}</h1>
