<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Internet Page: {{pageTitle}}</title>
  <LINK REL=StyleSheet HREF="./css/main.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
  {{> header}}
  <h3>Welcome to the universe</h3>
  <div class='img_container'>
      <img src={{imagePath}} width='100%' height='auto'>
  </div>

  {{>footer}}
</body>
</html>
