<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <LINK REL=StyleSheet HREF="./css/main.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
  <!-- {{> header}} -->
  <h3>Something is down</h3>
  <p>Try cleaning your internet tubes</p>
  <div class='img_container'>
      <img src={{imagePath}} width='100%' height='auto'>
  </div>

  {{> footer}}
</body>
</html>
