<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Internet Page: {{pageTitle}}</title>
    <LINK REL=StyleSheet HREF="./css/main.css" TYPE="text/css" MEDIA=screen>
</head>
<body style='font-family:fantasy'>
  {{> header}}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {{>footer}}

  <!-- {{info}} -->
  {{{makeTonsOfBR 50}}}
  <!--  also can do in the function: return new hbs.handlebars.SafeString(space) -->
  The secret is you're a doodoo
</body>
</html>
